[Unit]
Description=Gunicorn daemon para Django
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=D:\Documentos\clases\github\sukhoi\first\Flight-Pollution-Tracker
ExecStart=D:\Documentos\clases\github\sukhoi\first\Flight-Pollution-Tracker\temple\gunicorn.service
          --workers 3 \
          --bind 127.0.0.1:8001 \
          miproyecto.wsgi:application

[Install]
WantedBy=multi-user.target
